<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835569072407-n1t3gaidsltuotunv27luschsjhsigpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835569072407-n1t3gaidsltuotunv27luschsjhsigpo</string>
	<key>API_KEY</key>
	<string>AIzaSyAEUyze3jPW0sRtb654c5mLycehOBBnjpM</string>
	<key>GCM_SENDER_ID</key>
	<string>835569072407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wechat</string>
	<key>PROJECT_ID</key>
	<string>chatwe-21398</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwe-21398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835569072407:ios:0c597187cd06966d2f5f52</string>
</dict>
</plist>